* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #4A4A4A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #002F6C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-left img,
.header-right img {
    height: 50px;
    filter: brightness(0) invert(1);
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-nav ul li a:hover {
    color: #79b8fc;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

.principal {
    display: flex;
    gap: 30px;
    padding: 10px;
    /* height: 86vh; */
}

.izquierda {
    background-color: #EAEAEA; 
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.categoria {
    background-color: #0057B7;
    padding: 30px 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categoria h1 {
    font-size: 18px;
    color: white;
}

.categoria:hover {
    background-color: #003F8C; 
}

.derecha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%; 
    align-items: center;
    justify-content: center;
    
}

.curso {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 280px;
    height: 42%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.curso img {
    width: 80%;
    height: 50%;
    border-radius: 5px;
}

.curso h2 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.curso p {
    font-size: 14px;
    margin-bottom: 15px;
}

.curso button {
    background-color: #0057B7;
    color: white;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.curso button:hover {
    background-color: #003F8C;
}

footer {
    background-color: #002F6C;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}


@media (max-width: 1320px){
    .izquierda {
        width: 30%;
        padding: 15px;
    }

    .categoria h1 {
        font-size: 16px;
    }

    .derecha {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }

    .curso {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .curso img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 790px){
    
    .curso {
        width: 40%;
        max-width: 280px;
        height: auto;
    }

    .curso img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #002F6C;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .header-nav ul::after {
        content: "";
        display: block;
        margin: 10px auto;
        width: 50px;
        height: 50px;
        background: url('img/user.png') no-repeat center center;
        background-size: contain;
        filter: brightness(0) invert(1);
    }
    .header-nav ul {
        flex-direction: column;
        gap: 15px;
    }
    .hamburger {
        display: block;
    }
    .header-right {
        display: none;
    }
    #menu-toggle:checked ~ .header-nav {
        display: block;
    }

    .principal {
        flex-direction: column;
    }

    .izquierda {
        width: 100%;
        padding: 15px;
    }

    .categoria h1 {
        font-size: 16px;
    }

    .derecha {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }

    .curso {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .curso img {
        width: 100%;
        height: auto;
    }

    footer {
        width: 100%;
    }
}